<div class="card"
  *ngIf="product.title"
  style="width: 20rem">
  <img class="card-img-top"
    [src]="product.imageUrl"
    *ngIf="product.imageUrl"
    [alt]="product.title">
  <div class="card-body">
    <h4 class="card-title">
      {{product.title}}
    </h4>
    <p class="card-text">
      {{product.price | currency: 'USD'}}
    </p>
  </div>
  <div class="card-footer bg-white border-0 p-0">
    <button
      (click)="addToCart(product)"
      *ngIf="showActions"
      class="btn btn-primary btn-block rounded-0">
      <i class="fa fa-cart-plus"></i>
      Add to cart
    </button>
  </div>
</div>