<shop-navbar></shop-navbar>


<main role="main"
      class="container">

  <div class="starter-template">
    <p class="lead">
      <br> Sıcak bir bakışına neler vermezdim ki ben
      <br> Mutluluğun önünde dize gelmedim mi ben
      <br>
      <br>
      <br> Aşkı hemde neşeyi tattırmıştın sen bana
      <br> Mutsuz bir insandım ben mutluluk verdin bana
      <br>
      <br>
      <br> Zaman geçmek bilmiyor seni görmediğim an
      <br> Dünyam cennet oluyor benim olduğun zaman
      <br>
      <br>
      <br> Aşkımın hatırası istiyorum bitmesin
      <br> Ömrümün o gecesi hayalimden gitmesin
    </p>
  </div>

</main>
<!-- /.container -->